<!-- <p routerLink="/"> -->
  <div class="result" *ngIf = "recepts">
      <div class="recipe__name">
          <h1><b>{{recepts.label}}</b></h1>
      </div>
        <div class="recipe__image">
            <img src="{{recepts.receptImage}}" alt="recipe image">
        </div>
        <div class="recipe__information">
            <p id="calories">Calories - {{recepts.calories | number:'1.0-0'}}</p>
            <div class="ingradient__information">
              <p><b>Ingradients:</b></p>
              <div class="ingradients">
                <ul *ngFor = "let ingradient of recepts.ingradientLines; let i = index">
                  <li [ngStyle]="{'list-style-type': showAdd ? 'none' : 'circle'}">
                    <mat-checkbox *ngIf="showAdd" (click)="addToShopping(i)" color="primary"></mat-checkbox>           
                  <span>{{ingradient}}</span>
                  </li>
                </ul>
                <div class="source">
                  <a href="{{recepts.sourceUrl}}" target="_blank">
                    How to cook
                  </a>
                </div>
              </div>
          </div>
        </div>
  </div>
  <div class="pie_information">
    <div style="width: 80%;">
      <canvas id="canvas"></canvas>
    </div>
  </div>
  <div *ngIf="user && recepts" class="buttons">
    <button class="add_button" mat-raised-button color="primary" (click)="add()">Add to shopping</button>
    <button  class="add_button" mat-raised-button color="primary" (click)="addToFavorites()">Add to favorites</button>
</div>
