.result{
    border: 1px solid #414141;
    margin: 15px;
}
.recipe__image{
    text-align: center;
}
.recipe__information{
    margin-left: 15px;
}
.recipe__name h1{
    text-align: center;
    font-size: 40px;
}
.ingradient__information{
    margin-left: 50px;
}
.recipe__name p{
    font-size: 21px;
}
.ingradients{
    font-size: 16px;
}