<!-- <p routerLink="/"> -->
  <div class="result" *ngIf = "recepts">
      <div class="recipe__name">
          <h1><b>{{recepts.recipe.label}}</b></h1>
      </div>
        <div class="recipe__image">
            <img src="{{recepts.recipe.image}}" alt="recipe image">
        </div>
        <div class="recipe__name">
            <p>Calories - {{recepts.recipe.calories | number:'1.0-0'}}</p>
            <p><b>Ingradients:</b></p>
            <ul *ngFor = "let ingradient of recepts.recipe.ingredientLines">
              <li>{{ingradient}}</li>
            </ul>

        </div>
  </div>