.result{
    margin: 15px;
}
.recipe__image{
    text-align: center;
}
.recipe__information{
    width: 50%;
    float: left;
}
.recipe__name h1{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 40px;
}
.recipe__name #calories{
    margin-left: 50px;
}
.ingradient__information{
    margin-left: 50px;
}
.recipe__name p{
    font-size: 21px;
}
.ingradients{
    font-size: 16px;
}
.ingradients ul span{
    margin-left: 8px;
}
.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.add_button:nth-child(2){
    margin-left: 10px;
}
.source a{
    padding: 5px;
    border-radius: 5px;
    background-color: #673AB7;
    color: #F3EFFA;
    font-weight: 450;
}
.pie_information{
    width: 50%;
    float: right;
    margin-bottom: 30px;
}