.menu__link{
    margin-left: 40px;
    width: 100%;
}
.menu__link a{
    position: relative;
    color: #ffffff;
    margin: 0 40px 0 20px; 
}
mat-icon{
    position: absolute;
    font-size: 25px;
    left: -25px;
    top: -1px;
}
#user-log{
    cursor: pointer;
    float: right;
}
#user-log mat-icon{
    position: absolute;
    font-size: 25px;
    left: -25px;
    top: 3px;
}

#user-log .loggined{
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    height: 32px;
    width: 32px;
    z-index: 0;
    position: absolute;
    left: -35px;
}