.menu__link{
    margin-left: 40px;
}
.menu__link a{
    position: relative;
    color: #ffffff;
    margin: 0 40px 0 20px; 
}
mat-icon{
    position: absolute;
    font-size: 25px;
    left: -25px;
    top: -1px;
}