<div *ngIf = "favorites">
  <div *ngFor = "let favorite of favorites; let i = index">
    <div class="result">
      <div class="recipe__image">
          <img src="{{favorite.receptImage}}" alt="recipe image">
      </div>
      <div class="recipe__inforamtion">
          <h2>{{favorite.label}}</h2>
          <h3>Diet: {{favorite.diet}}</h3>
          <h3>Ingredients: {{favorite.ingredients}}</h3>
          <div class="actions">
            <button class="delete" (click)="delete(favorite)">
                <mat-icon color="primary" class="material-icons">clear</mat-icon>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>