<app-operations-input (searchedRecipe)="search($event)" (toogleFilter)="toogleFilter($event)"></app-operations-input>
<app-filter *ngIf="isFilter" (setFilter)="searchWithFilter($event)"></app-filter>
<div *ngIf = "recepts">
  <div *ngFor = "let recept of recepts; let i = index">
    <div class="card-container">
      <div class="card u-clearfix">
        <div class="card-body">
          <span class="card-author subtle">{{recept.recipe.dietLabels[0]}}</span>
          <h2 class="card-title">{{recept.recipe.label}}</h2>
          <span class="card-description subtle">Ingradients: {{recept.recipe.ingredientLines.length}}</span>
          <div class="card-read" [routerLink]="['details/', i, searchRecept]">Read</div>
        </div>
        <img src="{{recept.recipe.image}}" alt="recipe image" class="card-media" />
      </div>
      <div class="card-shadow"></div>
    </div>
  </div>
</div>


  