/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }
a { text-decoration: none; }
li { list-style-type: none;  }
ul { padding-left: 0; }
button { border:none; background-color: transparent; outline: none; cursor: pointer; }
/* body{
    background: url('./images/Background.jpg');
    background-attachment: fixed;
    background-size: 100%;
} */